{% extends 'base.html.twig' %}

{% block title %}Hello BuildingController!{% endblock %}

{% block body %}
    <h1>{{ building.name }}</h1>
    <p>Address: {{ building.address }}</p>
    <p>Floors: {{ building.floor }}</p>
    <p>Municipality: {{ building.municipalities }}</p>
{% endblock %}